version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: local-postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: local-redis
    ports:
      - "6379:6379"
    command:
      [
        "redis-server",
        "--save",
        "",
        "--appendonly",
        "no",
        "--requirepass",
        "mypassword",
      ]

volumes:
  pgdata:
